@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica , Arial ,sans-serif;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ============= Header ============= */
header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 44px;
}

.nav {
  max-width: 980px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav span {
  padding: 0 10px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.nav span:hover {
  opacity: 0.65;
}

/* ============= Main section and big images ============= */
.main-section {
  cursor: pointer;
  width: 100%;
  height: 85vh;
}

.main-section .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .text h1, .main-section .text h2 {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.main-section .text h1 {
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: .011em;
}

.main-section .text h2 {
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: .006em;
}

.big-picture {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  background: url("../images/macbookpro_large.jpg") no-repeat;
  background-size: auto 100%;
  background-position: top center;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.images {
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.img-1 {
  background: url("../images/ipad_pro_small.jpg") no-repeat;
}

.img-2 {
  background: url("../images/tv_small.jpg") no-repeat;
}

.img-3 {
  background: url("../images/airpods_alt_small.jpg") no-repeat;
}

.img-4 {
  background: url("../images/accessories_small.jpg") no-repeat;
}

[class*="img-"] {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 200px;
  background-position: center center;
}

/* ============= Footer ============= */
footer {
  background: #f2f2f2;
}

.content {
  margin: 0 auto;
}

.content a:hover, .content li:hover {
  text-decoration: underline;
}

.navigation-lists {
  padding: 10px 0;
  margin-bottom: 10px;
}

.nav-col {
  margin-right: 70px;
}

.nav-col h3 {
  color: #333;
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
}

.nav-col ul {
  margin: 0;
  padding-left: 0;
}

.nav-col ul li {
  font-size: 11px;
  margin-bottom: 8px;
}

.nav-col ul li a {
  color: #777;
}

.two-col div:first-child {
  margin-bottom: 20px;
}

.footer-cont {
  font-size: 11px;
  color: #888;
}

.footer-cont div {
  padding: 10px 0;
}

.footer-cont div:first-child {
  border-bottom: 1px solid #d6d6d6;
}

.footer-cont div:first-child a {
  color: #0070c9;
}

.policy {
  margin-bottom: 20px;
}

.policy span {
  margin-right: 10px;
}

.policy a {
  color: #555;
  padding: 0 10px;
}

.policy a:not(:first-of-type) {
  border-left: 1px solid #d8d8d8;
}

/* ============= Breakpoints ============= */
@media only screen and (max-width: 1129px) {
  .big-picture {
    background: url("../images/macbookpro_portrait_medium.jpg") no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }
}

@media only screen and (max-width: 1068px) {
  .images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [class*="img-"] {
    width: 50%;
  }
  .main-section .text h1 {
    font-size: 28px;
  }
  .main-section .text h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 48px;
  }
  header .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .nav span:not(:first-child) {
    display: none;
  }
  footer .content {
    display: none;
  }
}

@media only screen and (max-width: 735px) {
  .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  [class*="img-"] {
    width: 100%;
  }
  .main-section .text h1 {
    font-size: 22px;
  }
  .main-section .text h2 {
    font-size: 31px;
  }
}
